.header-nav {
    background-color: white; 
    width: 100%;
    height: 5.7%;
    top: 0;
    position: fixed;
    align-items: center;
    direction: rtl;
  }
  .header-link {
      margin:0;
      padding: 0;
      color: rgba(32, 32, 32, 0.986);
      margin:0;
      text-align: center;
      display: block;
      text-decoration: none;
  }
  .header-link:hover{
    background-color: rgb(68, 68, 68);
    color: white;
    text-decoration: none !important;
    border-radius: 40px;
  }
  .header-list {
      list-style-type: none;  
      height: 100%;
      margin-bottom: 0;
      margin-top :0;
      padding : 0;
}
.header-logo {
    width: auto;
    height: 100%;
}
.header-logo-container{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
.header-row {
    height: 100%;
    align-items: center;
}
.header-item {
    padding: 0;
}