.register-card-container{
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0px 4px 1px rgba($color: #000000, $alpha: 0.1);
    text-align: right;
    padding: 10px;
    opacity: 0.95;
}
.register-card-title {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
.username-badge{
    border-radius: 0 !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;

    // height: 10px;
}
.register-btn {
    justify-self: center;
    align-self: center;
    background-color: #4197a3;
    border-color:  #4197a3;
    width: 100%;
}
.file-selector{
    margin-top : 10px;
    margin-bottom : 10px;
}
.file-selector-label{
    text-align: center;
}
.register-text-area{
    border-radius: 0;
}
.register-final-row{
    margin:10px
}