<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/views/general/general.css">
    <link rel="stylesheet" href="/views/register/css/register.css">
    <link rel="stylesheet" href="/components/footer/footer.css">
    <link rel="stylesheet" href="/components/registerCard/registerCard.css">
    <link rel="stylesheet" href="/components/slideShow/slideShow.css">
    <title>Document</title>
</head>

<body class="register-body">
    <div class="slideShow">
        <img src="/assets/images/backgrounds/back1.jpg" />
        <img src="/assets/images/backgrounds/back2.jpg" />
        <img src="/assets/images/backgrounds/back3.jpg" />
    </div>
    <div class="main  container">
        <div class="register-container">
            <div class="register-card-container container">
                <div class="register-card-title">
                    <h2>
                        ثبت‌نام در جاب‌اونجا
                    </h2>
                </div>

                <form class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>نام</label>
                            <input type="text" class="form-control" id="name" placeholder="نام">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>نام خانوادگی</label>
                            <input type="text" class="form-control" id="family-name" placeholder="نام خانوادگی">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>نام‌کاربری</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text username-badge">@</span>
                                </div>
                                <input type="text" class="form-control" id="username" placeholder="نام کاربری">
                            </div>
                        </div>
                    </div>
                    <div class="custom-file file-selector form-row">
                        <div class=" form-row">

                            <div class="col-6">
                                <input type="text" class="form-control" placeholder="لینک فایل تصویر پروفایل">
                            </div>
                            <div class="col-6">
                                <input type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label ">
                                    <p class="file-selector-label">
                                        آپلود فایل تصویر پروفایل
                                    </p>
                                </label>
                            </div>

                        </div>

                        <!-- <label> شما می‌توانید یک تصویر پروفایل از اینجا انتخاب کنید.</label> -->

                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>عنوان شغل</label>
                            <input type="text" class="form-control" placeholder="عنوان شغل">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label>رمز عبور</label>
                            <input type="password" class="form-control" placeholder="رمز عبور">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label> تکرار رمز عبور</label>
                            <input type="password" class="form-control" id="validationCustom04"
                                placeholder="تکرار رمز عبور">
                        </div>
                    </div>
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text username-badge">درباره‌ی خود بنویسید</span>
                        </div>
                        <textarea class="form-control register-text-area"></textarea>
                    </div>
                    <div class="row register-final-row">
                        <div class="col-lg-5 col-md-8">
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox">
                                    <label class="form-check-label">
                                        تمامی شرایط و قوانین جاب‌اونجا را می‌پذیرم.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-4">
                            <button class="register-btn btn btn-primary" type="submit">ثبت‌نام</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
    <footer class="footer">
        © تمامی حقوق این سایت متعلق به جاب‌اونجا می‌باشد
    </footer>
</body>

</html>