<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project</title>
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/components/header/header.css">
    <link rel="stylesheet" href="/components/footer/footer.css">
    <link rel="stylesheet" href="/components/skillItem/skillItem.css">
    <link rel="stylesheet" href="/components/topBody/topBody.css">
    <link rel="stylesheet" href="/views/general/general.css">
    <link rel="stylesheet" href="/components/projectCard/projectCard.css">
    <link rel="stylesheet" href="/components/projectImage/projectImage.css">
    <link rel="stylesheet" href="/assets/icons/font/flaticon.css">
</head>
<body style="background-color: rgb(246, 246, 246);">
    <nav class="header-nav">   
        <ul class="container header-list">
            <div class="row header-row">
                <li class="col-lg-10 col-md-8 col-sm-7 header-logo-container">
                    <img class="header-logo" src="/assets/logo/logo v1.png" alt="LOGO">
                </li>
                <li class="col-lg-1 col-md-2 col-sm-3 header-item" >
                    <a href="#"class="header-link" >حساب کاربری</a>
                </li>
                <li class="col-lg-1 col-md-2 col-sm-2 header-item">
                    <a href="#" class="header-link">خروج</a>
                </li>
            </div>
            
        </ul>
        
    </nav>
    <div class="main">
        <div class="topBodyProject row"></div>
        <div class="row topBodyShadow" ></div>
        <div class="container cardItem">
            <div class="projectInfo">
                <img class="projectImage" src="/assets/images/project.jpg">
                <div>
                    <h3 class="projectTitle col-auto">
                        پروژه طراحی سایت جاب‌اونجا
                    </h3>
                    <div class="iconItem">
                        <div class="row">
                            <div class="col-auto timeIcon deadlinePassed">
                                <i class="flaticon-deadline timeIcon deadlinePassed"></i>
                            </div>
                            <div class="col-auto timeLeftTitle deadlinePassed">مهلت تمام شده</div>
                        </div>
                    </div>
                    <div class="iconItem">
                        <div class="row">
                            <div class="timeIcon col-auto">
                                <i class="flaticon-money-bag moneyIcon"></i>
                            </div>
                            <div class="moneyText col-auto">بودجه: ۲۵۰۰ تومان</div>
                        </div>
                    </div>
                    <div class="iconItem">
                        <div class="row">
                            <div class="col-auto timeIcon">
                                <i class="flaticon-check-mark timeIcon winner"></i>
                            </div>
                            <div class="col-auto timeLeftTitle winner">برنده:</div>
                            <div class="col-auto timeLeftText winner">وحید محمدی</div>
                        </div>
                    </div>
                    <div class="descriptionTitle">
                        توضیحات
                    </div>
                    <div class="description">
                       لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                    </div>
                </div>
            </div>
        </div>
        <div class="container projectSkills">
            <div class="skillsTitle">
                <h5>
                    مهارت‌های لازم:
                </h5>
            </div>
            <div class="skillItems">
                <span class="skillItem">
                <span class="badge alreadyEndorsedBadge">2</span>
                    TypeScript
                </span>
                <span class="skillItem">
                    <span class="badge alreadyEndorsedBadge">16</span>
                    JavaScript
                </span>
                <span class="skillItem">
                    <span class="badge alreadyEndorsedBadge">3</span>
                    CSS
                </span>
                <span class="skillItem">
                    <span class="badge alreadyEndorsedBadge">5</span>
                    HTML
                </span>
            </div>
        </div>
        <div class="container bid">
            <div class="iconItem">
                <div class="row">
                    <div class="alreadyBidIcon deadlinePassed col-auto">
                        <i class="flaticon-danger alreadyBidIcon deadlinePassed"></i>
                    </div>
                    <div class="alreadyBidText deadlinePassed col-auto">مهلت ارسال پیشنهاد برای این پروژه به پایان رسیده است!</div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer class="footer">
    © تمامی حقوق این سایت متعلق به جاب‌اونجا می‌باشد 
</footer>
</html>