<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/components/header/header.css">
    <link rel="stylesheet" href="/components/footer/footer.css">
    <link rel="stylesheet" href="/components/skillItem/skillItem.css">
    <link rel="stylesheet" href="/components/topBody/topBody.css">
    <link rel="stylesheet" href="/components/profileImage/profileImage.css">
    <link rel="stylesheet" href="/views/general/general.css">
</head>
<body style="background-color: rgb(246, 246, 246);">
    <nav class="header-nav">   
        <ul class="container header-list">
            <div class="row header-row">
                <li class="col-lg-10 col-md-8 col-sm-7 header-logo-container">
                    <img class="header-logo" src="/assets/logo/logo v1.png" alt="LOGO">
                </li>
                <li class="col-lg-1 col-md-2 col-sm-3 header-item" >
                    <a href="#"class="header-link" >حساب کاربری</a>
                    
                </li>
                <li class="col-lg-1 col-md-2 col-sm-2 header-item">
                    <a href="#" class="header-link">خروج</a>
                </li>
            </div>
            
        </ul>
    </nav>
    <div class="main">
            <div class="topBodyProfile row"></div>
            <div class="row topBodyShadow" ></div>
            <div class="container">
                <div class="row">
                    <div class="col-auto">
                        <div class="row">
                            <div class="profile-img-container">
                                    <img class="profile-img" src="/assets/images/profile.jpg" alt="PROFILE">
                            </div>
                            <div class="profile-badge">
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div>
                            <h2 class="profile-name">
                                محمدرضا کیانی
                            </h2>
                            <div class="nick-name">
                                اعلی حضرت
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">محمد</div>
            </div>
        </div>
        <span class="skillItem">
            <span class="badge alreadyEndorsedBadge">3</span>
            JavaScript
        </span>
        <span class="skillItem">
            <span class="badge alreadyEndorsedBadge">2</span>
            HTML
        </span>
    </div>
   
    
</body>
<footer class="footer">
    © تمامی حقوق این سایت متعلق به جاب‌اونجا می‌باشد 
</footer>
</html>