<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/components/header/header.css">
</head>
<body>
    <nav class="header-nav row">   
        <ul class="container header-list">
            <div class="row header-row">
                <li class="col-10 header-logo-container">
                    <img class="header-logo" src="/assets/logo/logo v1.png" alt="LOGO">
                </li>
                <li class="col-1 header-item" >
                    <a href="#"class="header-link" >حساب کاربری</a>
                    
                </li>
                <li class="col-1 header-item">
                    <a href="#" class="header-link">خروج</a>
                </li>
            </div>
            
        </ul>
        
    </nav>
    
</body>
</html>