<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/components/footer/footer.css">
    <link rel="stylesheet" href="/components/skillItem/skillItem.css">
    <link rel="stylesheet" href="/views/general/general.css">
</head>
<body>
    <span class="skillItem">
        JavaScript
        <span class="badge alreadyEndorsedBadge">3</span>
    </span>
    <span class="skillItem">
        HTML
        <span class="badge alreadyEndorsedBadge">3</span>
    </span>
</body>
<footer class="footer">
     تمامی حقوق این سایت متعلق به جاب‌اونجا می‌باشد ©
</footer>
</html>