.projectSummaryTime {
  background: rgba(224, 224, 224, 0.45);
  color: #797979;
  font-size: 8pt;
  width: auto;
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 2px;
}

.projectSummaryTimeEnded {
  background: rgb(80, 133, 135);
  color: rgba(255, 255, 255, 0.85);
  font-size: 8pt;
  width: auto;
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 2px;
}
