.descriptionTitle {
  text-align: right;
  color: rgb(20, 25, 29);
  font-size: 20px;
  margin-right: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.description {
  margin-top: 10px;
  margin-right: 20px;
  text-align: justify;
  line-height: 200%;
  text-justify: inter-word;
}