.sampleInput {
  border: 2px solid rgba(143, 143, 143, 0.27);
  border-radius: 4px;
  height: 40px;
  transition: 1s;
  font-size: 10pt;
  width: 100%;
  margin-top: 2.5vh;
  padding: 8px;
}
.sampleInput:focus {
  border: 2px solid rgba(5, 124, 132, 0.79);;
  outline: none;
  transition: 0.5s
}
.sampleInput:focus::placeholder {
  color: #297682;
}

.sampleInputError {
  color: rgba(161,14,0,0.73);
  font-size: 10pt;
  margin: 5px;
  margin-bottom: 10px;
}
