$border-radius: 5px;
@import url("/assets/fonts/iransans-fonts/fonts.css");

.cardItem {
    background-color: rgb(255, 255, 255);
    color: rgb(37, 41, 45);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    box-shadow: 0 0px 4px 1px rgba($color: #000000, $alpha: 0.1);
}

.projectInfo {
    display: flex;
    padding: 20px;
    padding-top: 28px;
    margin-top: -50px;
    border-bottom: 2px dashed rgb(89, 203, 214); 
    text-align: right;
}

.projectTitle {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 16px;
}

.iconItem {
    text-align: right;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.timeIcon {
    color: rgb(157, 157, 157);
    justify-self: center;
    margin: 0;
    padding: 0;
}

.timeLeftTitle {
    color: rgb(94, 94, 94);
    font-size: 16;
    font-weight: bold;
    align-self: center;
    margin: 0;
    padding: 0;
}

.timeLeftText {
    color: rgb(119, 119, 119);
    font-size: 12;
    align-self: center;
    margin: 0;
    padding: 0;
    text-align: right;
    text-indent: 5px;
}

.moneyIcon {
    color: rgb(56, 131, 139);
    justify-self: center;
    margin: 0;
    padding: 0;
}

.moneyText {
    color: rgb(56, 131, 139);
    font-size: 16;
    font-weight: bold;
    align-self: center;
    margin: 0;
    padding: 0;
}

.descriptionTitle {
    text-align: right;
    color: rgb(20, 25, 29);
    margin-right: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.description {
    margin-top: 20px;
    margin-right: 20px;
    text-align: justify;
    line-height: 200%;
    text-justify: inter-word;
    text-indent:20px;
}

.projectSkills {
    background-color: rgb(242, 242, 242);
    text-align: right;
    box-shadow: 0 0px 4px 1px rgba($color: #000000, $alpha: 0.1);
}

.skillsTitle {
    margin-right: 24px;
    padding-top: 28px; 
    margin-bottom: 20px;
    color: rgb(56, 131, 139);
    font-weight: bold;
}

.skillItems {
    margin-left: 24px;
    padding-bottom: 24px; 
    text-align: left;
}

.bid {
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    box-shadow: 0 0px 4px 1px rgba($color: #000000, $alpha: 0.1);
    justify-content: right;
    justify-items: right;
    text-align: right;
    margin-bottom: 12px;
}

.bidTitle {
    text-align: right;
    color: rgb(32, 36, 40);
    margin-right: 24px;
    font-weight: bold;
    padding-top: 24px;
}

.bid input {
    box-sizing: border-box;
    border: 2px solid rgb(53, 184, 204);
    margin-bottom: 36px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    border-radius: $border-radius;
    margin-right: 32px;
    margin-top: 4px;
    padding-right: 8px;
}

.moneyUnit {
    color:rgb(76, 172, 188);
    position: absolute;
    margin-top: -67px;
    margin-right: 224px;
}

.sendButton {
    height: 40px;
    margin-right: 8px;
    width: 100%;
    margin-top: 4px;
    border-radius: $border-radius;
    border: 2px solid rgb(76, 172, 188);
    background-color: rgb(76, 172, 188);
    color: rgb(255, 255, 255);
}

.alreadyBidIcon {
    color: rgb(60, 132, 70);
    justify-self: center;
    margin: 0;
    margin-top: 24px;
    margin-right: 8px;
    padding: 0;
}

.alreadyBidText {
    text-align: right;
    color: rgb(60, 132, 70);
    margin-top: 32px;
    margin-bottom: 32px; 
}