* {

    @font-face {
        font-family: IRANSans;
        font-style: normal;
        font-weight: normal;
        src: url("./iransans/eot/IRANSansWeb.eot");
        src: url("./iransans/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("./iransans/woff2/IRANSansWeb.woff2") format("woff2"), url("./iransans/woff/IRANSansWeb.woff") format("woff"), url("./iransans/ttf/IRANSansWeb.ttf") format("truetype"); }

    }