.iconItem {
  text-align: right;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.projectIcon {
  color: rgb(157, 157, 157);
  justify-self: center;
  margin: 0;
  padding: 0;
}

.money {
  color: rgb(56, 131, 139) !important;
}

.deadlinePassed {
  color: red !important;
  font-weight: normal !important;
}