.homeHeaderContainer {
  background: #c3edf1;
  height: 300px;
  padding-top: 65px;
}
.homeHeaderTitle {
  text-align: right;
  color: #297682;
  margin-top: 20px;
  margin-bottom: 20px;
}
.homeHeaderBio {
  text-align: right;
  font-size: 9pt;
  margin-right: 15px;
}
