.projectSummaryImage {
  width: 100%;
  border-radius: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 7px;
}
.projectSummaryTitle {
  text-align: right;
  direction: rtl;
  margin-right: -5px;
}

