.projectSkills {
  background-color: #f2f2f2;
  text-align: right;
  -webkit-box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 4px 1px rgba(0, 0, 0, 0.1);
}

.skillsTitle {
  margin-right: 24px;
  padding-top: 28px;
  margin-bottom: 20px;
  color: #38838b;
  font-weight: bold;
}

.skillItems {
  margin-left: 24px;
  padding-bottom: 24px;
  text-align: left;
}
