.footer{
    position: absolute;
    background-color: rgb(54, 54, 54);
    color: rgb(134, 134, 134);
    font-size: 16px;
    display: flex;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    left: 0;
    height: 5.7%;
    width: 100%;
}