.loginContainer {
  width: 100%;
  height: calc(100vh - 65px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c3eef1;
}

.loginCard {
  width: 50vh;
  min-height: 60vh;
  animation: open 0.5s alternate;
  overflow: hidden;
  padding-top: 10vh;
}
@keyframes open {
  0%{
    width: 45vh;
    min-height: 55vh;
  }
  100%{
    width: 50vh;
    min-height: 60vh;
  }
}
.loginTitle {
  width: 100%;
  text-align: center;
  margin-bottom: 5vh;
}

.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginInput {
  width: 80%;
}

.loginButtonContainer {
  margin-top: 4vh;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.loginFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginLink {
  margin-top: 10px;
  transition: 0.5s;
  font-size: 12pt;
}
.loginLink:hover {
  font-size: 12.5pt;
  text-decoration: none;
}
