.scrolableSectionSection {
  height: 400px;
  width: 100%;
  overflow: scroll;
  overflow-x: visible;
  direction: ltr ;
  padding: 5px;
  overflow-style: marquee-block;

}

.scrolableSectionSection::-webkit-scrollbar
{
  width: 2px;
  background-color: rgba(245, 245, 245, 0);
}

.scrolableSectionSection::-webkit-scrollbar-thumb
{
  background-color: #d1d1d1;
}
